extends layout

block content
  h1= title
  p Sign in to #{title}
    .signin
      form
        input.username(type="text", placeholder="user name")
        input.userpassword(type="password", placeholder="password")
        button(type='submit')
          | Sign In
    a(href='#signup') Sign Up
