doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav
    ul
      li
        | Websites
      li
        | Sign Out
      li
        | Sign In

  body
    block content
    .footer
        p 
            | Your internationlization content storage solution
